* {
  margin: 0;
  padding: 0;
}

body.home-bg{
  /* The image used */
  background-image: url("https://digitalsynopsis.com/wp-content/uploads/2017/03/beautiful-color-gradients-backgrounds-078-cochiti-lake.png");
  /* Control the height of the image */
  min-height: 380px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body nav{
  width: 100%;
  height: 50px;
  background-color: white;
}
body nav p{
  front-family: arial;
  color: #222;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}
body nav ul{
  display: block;
  float: left;
}
body nav ul li{
  float: left;
  list-style: none;
  position: relative;
}
body nav ul li a{
  display: block;
  font-family: arial;
  color: black;
  font-size: 14px;
  padding: 10px 14px;
  text-decoration: none;
}
body nav ul li ul{
  display: none;
  position: absolute;
  background-color: white;
  padding: 0px;
  border-radius: 0px 0px 4px 4px;

}
body nav ul li:hover ul{
  display: block;
}
body nav ul li ul li{
  width: 180px;
}
body nav ul li ul li a{
  padding: 8px 14px;

}
body nav ul li ul li a:hover{
  background-color: lightblue;
}

  /* Contact Page */

body.c-bg{
  padding: 100px;
  text-align: left;
  width: auto;
  height:900px;
  background-image: url("https://digitalsynopsis.com/wp-content/uploads/2017/03/beautiful-color-gradients-backgrounds-078-cochiti-lake.png");
  background-size: cover;

}
h1.c-header{
  text-align: center;
  font-family: arial;
  color: black;
  font-size: 24px;
  text-decoration: none;
}
h2.c2-header{
  text-align: center;
  font-family: arial;
  color: black;
  font-size: 24px;
  text-decoration: none;
}

input.fname, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input.email, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input.comment, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
input.c-submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input.c-submit:hover {
  background-color: #45a049;
}
body.a-bg{
  padding: 100px;
  text-align: left;
  width: auto;
  height: 900px;
  background-image: url("https://digitalsynopsis.com/wp-content/uploads/2017/03/beautiful-color-gradients-backgrounds-078-cochiti-lake.png");
  background-size: cover;

}
h1.a-header{
  text-align: center;
  font-family: arial;
  color: black;
  font-size: 24px;
  text-decoration: none;
}
h2.a2-header{
  text-align: center;
  font-family: arial;
  color: black;
  font-size: 24px;
  text-decoration: none;
}
h3.a3-header{
  text-align: center;
  font-family: arial;
  color: black;
  font-size: 24px;
  text-decoration: none;
}

/* Login Page */
body.l-bg {
  padding: 100px;
  text-align: left;
  width: auto;
  height: 900px;
  background-image: url("https://digitalsynopsis.com/wp-content/uploads/2017/03/beautiful-color-gradients-backgrounds-078-cochiti-lake.png");
  background-size: cover;
}
h1.l-header{
  text-align: center;
  font-family: arial;
  color: black;
  font-size: 24px;
  text-decoration: none;
}
div.l-container{
    width: auto;
    height: 400px;
    text-align center;
    background-color: rgba(52,73,94,0.8);
    padding-top: 60px
    border-radius 4px;
    margin:0px;
}
img.l-icon{
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 35px;
  width: 150px;

 }
input.username,input[type="password"] {
  width: 300px
  height:45px
  text-align center
  font-size: 18px
  margin-bottom: 20px
  background: #fff
}

.btn-login{
  padding:15px 30px
  color: #FFF
  background-color: #2ecc71
  border:none
  border-radius:4px
  border-bottom:4px solid #27ae60

}
a.l-forgot{
  color: #FFF
  text-decoration none
  font-family sans-serif
}
a.l-forgot:hover{
  color: coral
  font-weight: bold

}
