<html>
<body class="about-bg">
<h1 class="about-header">Follow your dreams</h1>

In order to sacrifice who you are today for what you will become!
The change you are seeking is within you!
</body>
</html>
{{outlet}}