
<head>
  <title>StartOver</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<nav>
  <p>StartOver</p>
  <ul>
    <li><a>{{#link-to 'home'}}Home{{/link-to}}</a></li>
    <li><a>{{#link-to 'blog'}}Blog{{/link-to}}</a>
      <ul>
        <li><a>Book Suggestion</a> </li>
        <li><a>Meditation</a> </li>
        <li><a>Music</a> </li>
        <li><a>Planning</a> </li>
      </ul>
    </li>
    <li><a>{{#link-to 'about'}}About{{/link-to}}</a></li>
    <li><a>{{#link-to 'contact'}}Contact{{/link-to}}</a></li>
    <li><a>{{#link-to 'login'}}Login{{/link-to}}</a></li>


  </ul>
</nav>







{{outlet}}