<div class="b-bg">
<div id="content" class="clearfix">
  <section id="left-sidebar">
    <p>Left Sidebar Content Goes Here</p>
  </section>

  <section id="right">
    <p>Right Side Content Goes Here</p>
  </section>
</div>
</div>
{{outlet}}