
<div class="l-bg">
  <div class="l-container">
    <img class="l-icon" src="image.png">
    <br>
    <form>
      <div class="form-input">
        <input class="username" type="text" name="username" placeholder="Enter username">
      </div>
      <div class="form-input">
        <input type="password" name="password" placeholder="Enter password">
      </div>
      <input type="submit" name="submit" value="Login" class="btn-login">
    </form>
    <br>
    <a class="l-forgot" href="#">Forgot Password?</a>
  </div>
</div>
{{outlet}}